.App {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  flex: 0 0 340px;
}

.menu_header {
  padding: 0 20px;
}

.menu_header p {
  font-size: 20px;
}

.menu_body {
  padding: 0 20px;
}

.menu_input {
  margin-bottom: 20px;
}

.menu_input span {
  display: block;
}

.game {
  flex: 1 1 auto;
  margin-top: 30px;
}

.game canvas {
  display: block;
  margin: 0 auto;
}
